{{define "_header.html"}}
<nav class="navigation">
	<header class="container">
		<ul class="navigation-list float-left">
			<li class="navigation-item">
				<a class="navigation-title" href="/admin" title="SiMPLE Licensing">
					<img src="/assets/images/icon.svg" width="55" height="55" alt="SiMPLE" />
				</a>
			</li>
			<li class="navigation-item"><h2 class="navigation-link" style="font-size: 2em">SiMPLE Licensing</h2></li>
		</ul>

		<ul class="navigation-list float-right">
			<li class="navigation-item"><a class="navigation-link" href="/admin/tariffs">Pricing</a></li>
			<li class="navigation-item"><a class="navigation-link" href="/admin">Customers</a></li>
			<li class="navigation-item"><a class="navigation-link" href="#" id="logout">Logout</a></li>
		</ul>
	</header>
</nav>
{{end}}
