{{define "customers.html"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Manage SiMPLE clients and their roles" />
		<title>{{ .title }}</title>
		<link
			rel="stylesheet"
			href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
		/>
		<link
			rel="stylesheet"
			href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css"
		/>
		<link
			rel="stylesheet"
			href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css"
		/>
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="icon" href="/assets/images/icon.svg" />
	</head>

	<body id="customers_body">
		<main class="wrapper">
			{{template "_header.html"}}
			<section class="container">
				<h3>{{ .title }}</h3>
				<div id="customers_result"></div>
				<table id="customers_table">
					<thead>
						<tr>
							<th></th>
							<th>Name</th>
							<th>Email</th>
							<th>Role</th>
							<th>Created at</th>
							<th>Updated at</th>
							<th>Actions</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{{ range $i,$value := .customers}} {{template "_customer_row.html" $value}}
						{{end}}

						<tr>
							<td class="td-noline"></td>
							<td colspan="7" class="td-new-license">
								<a href="/admin/customers/new">Add new customer</a>
							</td>
						</tr>
					</tbody>
				</table>
			</section>
		</main>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="/assets/js/main.js"></script>
		<script src="/assets/js/customers.js"></script>
	</body>
</html>
{{end}}
