{{define "new_subscription.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Add a new subscription to SiMPLE for the
			selected client" />
	<title>{{ .title }}</title>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<link rel="icon" href="/assets/images/icon.svg" />
</head>

<body>
	<main class="wrapper">
		{{template "_header.html"}}
		<section class="login">
			<h3 class="title">{{.title}}</h3>
			<div id="subscription_result"></div>
			<form method="post" id="subscription_form" action="">
				{{if .Subscription}}
				<input type="text" placeholder="Purchase ID" name="stripe_id" value="{{.Subscription.StripeID}}" />
				<label>Select a plan: </label>
				{{$tariffID:=.Subscription.TariffID}}
				<select placeholder="Plan" name="tariff_id" value="{{$tariffID}}">
					{{range $key, $value := .Tariffs}}
					<option value="{{ $value.ID }}" {{ if eq $value.ID $tariffID }} selected="selected" {{ end }}>
						{{ $value.Name }}
					</option>
					{{end}}
				</select>
				<label>Select the start date: </label>
				<input type="datetime-local" placeholder="Issue date" name="issued_at" value="{{.Subscription.IssuedAt | formatAsDateTimeLocal}}"
					min="2022-01-01T00:00" max="2040-12-31T00:00">
				<label>
					{{if .Subscription.Status}}
					<input type="checkbox" placeholder="Status" name="status" checked />
					{{else}}
					<input type="checkbox" placeholder="Status" name="status" />
					{{end}} Active
				</label>

				<input class="button-primary" type="submit" data-customer-id="{{.customerID}}"
					id="update_subscription_{{.Subscription.ID}}" value="Update" />
				{{else}}
				<input type="text" placeholder="Purchase ID" name="stripe_id" />
				<label>Select a plan: </label>
				<select placeholder="Plan" name="tariff_id">
					{{range $key, $value := .Tariffs}}
					<option value="{{ $value.ID }}">{{ $value.Name }}</option>
					{{end}}
				</select>
				<label>Select the start date: </label>
				<input type="datetime-local" placeholder="Issue date" name="issued_at"
					min="2022-01-01T00:00" max="2040-12-31T00:00">
				<label>
					<input type="checkbox" placeholder="Status" name="status" />
					Active
				</label>
				<input class="button-primary" type="submit" id="create_subscription_{{.customerID}}" value="Submit" />
				{{end}}

				<input class="button" type="button" id="cancel_subscription" onclick="history.back()" value="Cancel" />
			</form>
		</section>
	</main>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="/assets/js/main.js"></script>
	<script src="/assets/js/subscriptions.js"></script>
</body>

</html>
{{end}}