{{define "tariffs.html"}}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="icon" href="/assets/images/icon.svg">
</head>

<body>
    <main class="wrapper">
        {{template "_header.html"}}
        <section class="container">
            <h3>{{ .title }}</h3>
            <div id="tariffs_result"></div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Tandem</th>
                        <th>Triaxis</th>
                        <th>Robots</th>
                        <th>Created at</th>
                        <th>Updated at</th>
                        <th>Action</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{ range $key, $value := .Tariffs }}
                    <tr>
                        <td id="tariff_id">{{$value.ID}}</td>
                        <td><b>{{$value.Name}}</b></td>
                        <td>{{$value.Price | formatAsPrice}}</td>
                        {{ if $value.Tandem }}
                            <td style="text-align: center; vertical-align: middle;"><b style="color:#228B22">&#10004;</b></td>
                        {{else}}
                            <td style="text-align: center; vertical-align: middle;"><b style="color:#EE4B2B">&#10006;</b></td>
                        {{end}}
                        {{ if $value.Triaxis }}
                        <td><b style="color:#228B22">&#10004;</b></td>
                        {{else}}
                            <td style="text-align: center; vertical-align: middle;"><b style="color:#EE4B2B">&#10006;</b></td>
                        {{end}}
                        {{ if $value.Robots }}
                            <td style="text-align: center; vertical-align: middle;"><b style="color:#228B22">&#10004;</b></td>
                        {{else}}
                            <td style="text-align: center; vertical-align: middle;"><b style="color:#EE4B2B">&#10006;</b></td>
                        {{end}}
                        <td>{{$value.CreatedAt | formatAsDate}}</td>
                        <td>{{$value.UpdatedAt | formatAsDate}}</td>
                        <td style="text-align: center; vertical-align: middle;"><a id="delete_tariff_{{$value.ID}}" href="#" title="Delete {{$value.Name}}"><b>&#x1F5D1;</b></a></td>
                    </tr>
                    {{end}}

                    <tr>
                        <td class="td-noline"></td>
                        <td colspan="8" class="td-new-license"><a href="/admin/tariffs/new">create new plan</a></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/assets/js/main.js"  async defer></script>
    <script src="/assets/js/tariff.js"  async defer></script>
</body>

</html>
{{end}}